<div class="dropdown">
	<button class="dropbtn">Account</button>
	<div class="dropdown-content">
		<a href="#">Change Password</a>
		<a href="#">Log Off</a>
	</div>
</div>
<div class="window-area">
	<div class="user-list">
		<ul class="">
			{{#each user as |user|}}
			<li class="users-online">
				<p>{{user.profile_image}} {{user.username}}</p>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
<div class="my-account">
	<div class="image">
		<i class="fa fa-circle online"></i>
	</div>
	<div class="name">
		<span>{{user.username}}</span>
		<i class="fa fa-angle-down"></i>
		<span class="availability">Available</span>
		<ul>
			<li><a href="#">Invisible</a></li>
			<li><a href="#">Idle</a></li>
			<li><a href="#">Do Not Disturb</a></li>
		</ul>
	</div>

</div>
</div>

<div class="chat-area">
	<div class="title"><b>Conversation title</b><i class="fa fa-search"></i></div>
	<div class="chat-list">
		<ul>
			{{#each chat}}
			<li class="chat">
				<p>{{sender}}: {{content}}</p>
				<small>{{timestamp}}</small>
			</li>
			{{/each}}
		</ul>
	</div>
</div>
</div>
<form>
	<input type="text" name="sender" placeholder="Your name">
	<textarea name="message" placeholder="Type your message here"></textarea>
	<button type="submit">Send</button>
</form>

{{!-- <script src="/js/chat.js"></script> --}}